img {
    max-height: 100%;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

hr {
    border: 0;
    height: 0;
    width: 90%;
    margin-top: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


.search-n-icon {
    display:flex;
    align-content: center;
    flex: 1;
}

.search-icon{
    height: 90%;
    align-self: center;
    margin-right: 8px;
}

.small-pfp {
    height: 50px;
}

.large-pfp {
    height: 90px;
    float: left;
}


@font-face {
  font-family: 'roboto-regular';
  src:  url('fonts/roboto-regular.ttf')
}

@font-face {
    font-family: cinzel;
    src: url(./fonts/Cinzel-Regular.ttf);
}

html, body {
    margin: 0;
    height: 100vh;
    font-family: roboto-regular;
    background-color: #F1F5F9;
}
.wrapper {
    display: grid;
    grid-template: minmax(180px, 3fr) 14fr / minmax(220px, 2fr) 10fr;
    height: 100%;
}

header {
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    background-color: #F8FAFC;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.top-user-line {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-bottom: 10px;
}

input[type="search"] {
    border-style: none;
    border-radius: 8px;
    flex: 1;
    background-color: #E5E7EB;
    height: 85%;
}

.bell-icon{
    height: 50%;
}

.small-pfp {
}

.user-info {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 15px;
}

.bottom-user-line {
    display: flex;
    gap: 22px;
}

.greetings {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


aside {
    padding: 15px;
    grid-row: 1/3;
    background-color: #064E3B;
    color: #ECFDF5;
    font-weight: bold;
    position: relative;
}

aside ul {
    list-style: none;
}

.logo{
    font-family: cinzel;
    font-size: 1.3rem;
    align-items: center;
    display: flex;
    margin-bottom: 40px;
}

.logo>img{
    margin-right: 15px;
    height: 3.5rem;
}

.main-nav, .secondary-nav {
    padding-left: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 10fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 80px;
}

.main-nav>img, .secondary-nav>img {
    justify-self: start;
    height: 110%;
}

.main-nav>a, .secondary-nav>a {
    padding-left: 45px;
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
}

.bottom-crystal {
    position: absolute;
    bottom: 0px;
    width: 100%;
}


main {
    position: relative;
    display: grid;
    grid-template: 1fr 30fr / 6fr minmax(280px, 2fr);
    padding: 25px;
    gap: 25px;
}

.card {
    background-color: #F8FAFC;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 220px;
    gap: 15px;
    grid-row: 2/4;
}

.project-card {
}

.project-card-buttons {
    display: flex;
    justify-content: flex-end;
}

.announcements, .trends {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 450px;
    margin-bottom: 50px;
}


.announcements {
}

.announcement-item {
    flex: 1;
}

.trends {
}

.trending-item {
    display: flex;
    align-items: center;
    flex: 1;
}

.trending-item>img {
    height: 70px ;
}

.trending-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trending-text>h4 {
    margin: 0;
}
