@font-face {
  font-family: 'roboto-regular';
  src:  url('fonts/roboto-regular.ttf')
}

html, body {
    margin: 0;
    height: 100vh;
    font-family: roboto-regular;
}
.wrapper {
    display: grid;
    grid-template: minmax(180px, 3fr) 14fr / minmax(220px, 2fr) 10fr;
    height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    border: solid black;
}

.top-user-line {
    display: flex;
    border: solid black;
}

input[type="search"] {

}

.bell-icon{
}

.small-pfp {
}

.user-info {
    display: flex;
}

.bottom-user-line {
    display: flex;
    border: solid black;
}

.greeting {
}

.username {
}

aside {
    grid-row: 1/3;
    border: solid black;
}

main {
    display: grid;
    grid-template: 1fr / 6fr minmax(300px, 2fr);
    border: solid black;
    padding: 25px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 250px;
    grid-row: 1/3;
}

.project-card {
    border: solid black;
}

.project-card-buttons {
    display: flex;
    justify-content: flex-end;
}

.announcements, .trends {
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-height: 450px;
}


.announcements {
    border: solid black;
}

.announcement-item {
    flex: 1;
    border: solid black;
}

.trends {
    border: solid black;
}

.trending-item {
    display: flex;
    align-items: center;
    flex: 1;
    border: solid black;
}

.trending-item>img {
    height: 70px ;
}

.trending-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trending-text>h4 {
    margin: 0;
}
